<% if !user_signed_in? %>
<li><%= link_to "Sign in", 'users/sign_in' %></li>	

<% else %>
<% provide(:title, current_user.email) %>
<h1>Your profile:</h1>
      <%= gravatar_for @user, size: 200 %><br>
<div>
      Email: <%= @user.email %><br>
      Username: <%= @user.username%><br>
      About me: <%= @user.about_me %><br>
</div>

      <%= button_to "Edit your profile", '/users/edit', :method => :get %>
    </li>
<% end %>

